.ourCoursesContainer{
    margin: 40px 30px;
    box-shadow:  0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.ourCoursesContainer p{
    font-size: small;
    line-height: 18px;
}
.courseHead{
    display: flex;
    gap: 5px;
}
.courseHead h1{
    font-size: 32px;
    font-weight: 600;
}
.coursTex{
    margin-top: 30px;
}
.ourValue{
    padding: 30px;
}
.ourValue h1{
    font-size: 32px;
    margin-bottom: 20px;
}
.cardContainer{
    display: flex;
    box-shadow:  0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    gap: 10px;
    padding: 10px;
}
/* middle section */
.middleContainer{
    padding: 30px;
}
.middleContent{
    display: flex;
    gap: 20px;

}
.imageCont{
    width: 200px;
    height: 400px;
    background-color: black;
    flex: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 70px;
    border-bottom:50px
}
.Content{
    flex: 2;
}
.Content h1{
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 50px;
}
.Content p{
    font-size: small;
    line-height: 16px;
}
.lastContainer{
    padding: 30px;
}
.lastContainer h1{
    font-size: 32px;
}
.lastContainer p{
    font-size: small;
    line-height: 14px;
}
.lastCont{
    margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
    .ourCoursesContainer{
        width: auto;
        padding: auto;
    }
    .cardContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .courseHead h1{
        font-size: 24px;
        font-weight: 700;
    }
    .imageCont{
        display: none !important;
    }
}