.ProgrammeContainer{
    background-color:rgb(43, 73, 226) !important ;
    color: white !important;
    padding: 30px !important;
    margin: auto;
}
.programContent h1{
   font-size: 32px;
   text-align: center;
}
.programContent{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
}
.programContent P{
   font-size: small;
   text-align: center;
   inline-size: 600px;
   word-wrap: break-word;
   text-align: center;
   line-height: 16px;
}
.programContent button{
    min-width: 300px;
    max-width: 40%;
    background-color: orange !important ;
    color: white;
    font-size: small;
}
.programContent button:hover{
    background-color: rgb(244, 194, 103);
}
.stepContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: white !important;
}
.stepContent{
    width: 80%;
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;

}
.stepCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stepContent:nth-child(odd){
    flex: 1;
}
.stepCol h1{
    font-size: 28px;
    font-weight: 500;
}
.stepCol p{
    font-size: small;
    text-align: center;
    line-height: 20px;
}
.stepCol span{
    font-weight: 700;
    display: block;
}
.referContainer{
    display: flex;
    justify-content: center;
    background-color: azure;
    padding: 30px;
    
}
.referContent{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.referItem p{
    text-align: center;
    font-size: small;
    line-height: 20px;
}
.referItem:nth-child(3){
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
}
.smallBtn{
    padding: 5px;
    background-color: orange;
    width: 150px;
    text-align: center;
    border-radius: 3px;
    color: white;
}
@media screen and (max-width: 768px) {
    .programContent P{
        font-size: small;
        text-align: center;
        inline-size: 350px;
        word-wrap: break-word;
        text-align: center;
        line-height: 16px;
     }
    .stepContent{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}