@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

button {
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline-style: none;
    cursor: pointer;
}
.flex{
    display: flex;
   
}
a{
    text-decoration: none;
}
.login-section{
    justify-content: center;
    margin-top: 2rem;
}
.login{
    background: #002AFF24;
    width: 90%;
    justify-content: center;
    max-width: 800px;
    border-radius: 1rem;
}
.login-inner{
    margin:2rem 0 ;
    flex-direction: column;
    background: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 5px hsl(0, 0%, 50%, 0.5);
}
.login-info{
    flex-direction: column;
    align-items: center;
}
.login-info h2{
margin-bottom: 1rem;
font-size: 2rem;
}
.login-info p{
    margin-bottom: 2rem;
    }
.login-head{
    margin-bottom: 2.5rem;
    width: 100%;
}
.login-head h3{
    padding: .8rem 0;
}
.sign{
    background: #002AFF24;
    border-radius: 0 .2rem .2rem 0;
    width: 50%;
    justify-content: center;
}
.log{
    width: 50%;
    position: relative;
    justify-content: center;
}

.log::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-bottom: 2px solid #4460EF;
    width: 50%;
    transform: translateX(-50%);
}
.sign-with{
    margin-bottom: 1.5rem;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.sign-with a{
   padding: .3rem 1.5rem;
   border: 1px solid rgb(201, 201, 201);
   border-radius: .3rem;
   color: black;
   align-items: center;
   gap: .7rem;
}
.sign-with img{
    width: 1.5rem;
}
.or {
    position: relative;
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.5em;
}
.or::before,
.or::after {
    content: "";
    width: 35%;
    height: 2px;
    display: block;
    background-color: #6200EE;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.or::before {
    left: 2rem;
}

.or::after {
    right: 2rem;
}
.form{
    justify-content: center;
    width: 100%;
    margin-bottom: .6rem;
}
form{
    width: 80%;
}
.page-col input{
    width: 100%;
    padding: .7rem 0 .7rem .6rem;
}
.col-up{
    margin-bottom: 1.5rem;
}
.page-col input{
 
padding-left: .4rem;
}
 .page-col {
    position: relative;
}
.page-toggle {
    position: absolute;
    top: 25%;
    right: 0;
    cursor: pointer;
    transform: translateX(-10px);
    
}
.forgot{
    justify-content: flex-start ;
    width: 80%;
    margin-bottom: 1.5rem;
}

.forgot > a {
    color: #4460EF;

}

.click {
    max-width: 350px;
    text-align: center;
    color: #151515;
}

.start-btn {
    padding: 0.75em 1.5em;
    background-color: #4460EF;
    color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.create-one {
    color: #4460EF;
    text-decoration: underline;
}

.terms,
.privacy {
    color: #303030;
    text-decoration: underline;
}

.new-user {
    color: #151515;
}