.darkNav {
    background-color: #C76500;
    color: #002347;
    border-radius: 10px;
    padding: 5px;
}

.lightNav {
    background-color: #ffffff;
    color: #002347;
    border-radius: 10px;
    padding: 5px;
}

.lightDesign {
    display: block;
    width: 100%;
    background-color: aquamarine;
    margin: 4px;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

.lightDesign.active {
    background-color: aqua;
}

.darkDesign {
    /* background-color: #472700; */
    display: block;
    background-color: #C76500;
    width: 100%;
    margin: 4px;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}

.darkDesign.active {
    background-color: #472400;
}