

.light.dummyHone {
    color: transparent !important;
    background: linear-gradient(60deg, rgb(225, 224, 225), white, rgb(225, 224, 225), white, rgb(225, 224, 225), white);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.dark.dummyHone {
    color: transparent !important;
    background: linear-gradient(60deg, #002347, #c76500, #002347, #c76500, #002347, #c76500);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
}



