

.occupations-card-wrapper {
    margin: 0 !important;
}

@media only screen and (max-width: 769px) {
    .careerTop {
        flex-wrap: wrap;
        width: 100%;
        padding: 0 !important;
    }

    .careerTop>img {
        width: 100% !important;
        margin: 0 !important;
    }

    .occupations-card-wrapper {
        width: 100% !important;
        margin: 0 !important;
        margin-top: 20px !important;
    }

    .fmt-2 {
        margin-top: 2rem !important;
    }
}