.searchBox {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 3px;
}

.searchInput {
    position: relative;
    padding-left: 15px !important;
    margin-right: 20px;
}

.searchButton {
    position: absolute;
    right: 0;
    top: 0;
    width: max-content;
    border: none;
}