 header {
     margin-top: 60px;
 }

 p {
     line-height: 1.9rem;
     font-size: 15px;
 }

 .head {
     text-align: center;
     margin-top: 10px;
     font-weight: 600;
     font-size: 50px;
 }

 .contain {
     padding: 20px;
 }

 .goal {
     padding: 50px;
 }

 .goal h3 {
     letter-spacing: 5px;
 }


 .cards p {
     margin-right: px;
     padding-left: 0px;
     display: inline-block;
     text-align: left;
     float: left;
     position: absolute;


 }

 .cards span {
     display: inline-block;
     position: relative;
     float: right;
 }

 .cards {
     padding-bottom: 20px;
     margin: 20px;
 }

 .card-img-top {
     background: #0c2395;
     border-color: #0c2395;
 }

 .row {
     padding-bottom: 30px;
 }

 .creator {
     margin-top: 50px;
     display: flex;

 }

 .creator .left {
     width: 100px;
     height: 100px;
     background-color: #fd7702;
     border-radius: 100px;

 }

 .creator .right {
     padding-top: 20px;
     padding-right: 20px;

 }

 .goalbox {
     width: 96%;
     height: 100px;
     color: white;

     box-shadow: 0 0 20px rgba(239, 211, 211, 0.29);
     background-color: #4460EF;
     padding: 20px;
     margin-top: 40px;
 }

 .goal {
     align-items: center;
     align-content: center;
 }

 .lastpart .left p {
     border: 1px solid #fff;
     border-radius: 45px;
     padding: 40px;


 }

 .lastpart .left span {
     margin-top: 120px;
 }

 .step {
     padding-bottom: 63px;
     margin-right: 100px;
     margin-left: 100px;
 }


 .goalbox:hover {
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
     background: #fd7702;
     transform: translateY(-1px);
 }

 .pic {
     border-radius: 12px;
     box-shadow: 0 0 6px rgba(239, 211, 211, 0.29);
     counter-increment: step-number;
     display: block;

     overflow: hidden;
     padding: 22px;
     position: relative;

 }

 .pic img {
     align-items: center;
     text-align: center;
     position: relative;

 }

 .Empower {
     background-color: #4460EF;
     padding-top: 100px;

 }

 .Empower .left {
     width: 100%;
     padding-top: 20px;
 }

 .Empower .right img {
     padding-top: 20px;

 }

 .Empower {
     color: white;
 }

 .Emp img {
     height: 500px;
 }

 .Emp {
     padding: 40px 0px 40px 0px;
 }

 .Emp .right {
     padding-top: 50px;

 }

 button {
     background: #002347;
     border-radius: 8px;
     color: #fff;
     display: inline-block;
     font-weight: 500;
     overflow: hidden;
     padding: 12.5px 39px;
     position: relative;
     transition: all .3s ease-in-out;
 }

 button:hover {
     transform: translateY(-1px);
 }

 .lastpart {
     background-color: #0c2395;
     display: flexbox;
     padding: 50px;
     color: white;
     margin-bottom: 40px;
 }

 .lastpart .content {
     width: 100%;
     padding: 10px;
     line-height: 1.9rem;
     font-size: 15px;
 }

 .Emp img {
     width: 100%;
     height: 100%;
 }

 .Empower img {

     width: 100%;
     height: 100%;
 }