.Fhorge .inner {
    display: flex;
    position: relative
}
.build-intro .intro__header-outer,.earn-intro .intro__header-outer {
    text-align: center
}

.build-intro .intro__header-outer h1,.earn-intro .intro__header-outer h1 {
    display: inline-block;
    position: relative
}

.build-intro .intro__header-outer h1 span,.earn-intro .intro__header-outer h1 span {
    color: #0091c7
}

.build-intro .step .step__desc .bold,.earn-intro .step .step__desc .bold {
    font-weight: 700
}

.build-intro h1,.earn-intro h1 {
    font-size: 36px;
    margin-bottom: 50px
}

@media(max-width: 768px) {
    .build-intro h1,.earn-intro h1 {
        font-size:20px;
        margin: 0 auto 30px;
        max-width: 238px
    }

    .build-intro h1:after,.earn-intro h1:after {
        background-repeat: no-repeat;
        background-size: 100%
    }

    .build-intro .tab-nav,.earn-intro .tab-nav {
        margin-bottom: 28px
    }

    .build-intro .step__img picture,.earn-intro .step__img picture {
        position: relative;
        top: 4px
    }
}

.build-intro .intro__header-outer {
    text-align: center
}

.build-intro .intro__header-outer h1:after {
    right: 0
}

@media(max-width: 768px) {
    .build-intro .intro__header-outer h1 {
        max-width:183px
    }

    .build-intro .intro__header-outer h1:after {
        bottom: -13px;
        right: 10px;
        width: 123px
    }
}

.steps {
    counter-reset: step-number;
   display:flex;
   justify-content: space-between;
   margin: 0 auto 20px ;
   max-width: 1057px
}
@media(max-width: 768px) {
    .steps {
        align-items:center;
        flex-direction: column;
        margin-bottom: 20px
    }
}
.stepp{
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,.29);
    counter-increment: step-number;
    display: block;
    overflow: hidden;
    padding: 12px;
    position: relative;
    width: 320px;
}
.stepp .icon-carousel-arrow {
    font-size: 18px;
    position: relative;
    top: 2px
}

.stepp .icon-carousel-arrow:before {
    color: #2d3941
}

.stepp:hover .step__desc .bold {
    color: #007646
}

.stepp.step--no-index .step__img {
    text-align: center
}

.stepp.step--no-index .step__img:after {
    content: ""
}

.stepp.step--no-index .step__desc {
    align-items: center;
    color: #2d3941;
    display: flex;
    height: 64px;
    justify-content: left;
    padding: 0 10px
}

.stepp.step--no-index .step__desc .icon-carousel-arrow {
    top: 0
}

.stepp.step--no-index:hover .icon-carousel-arrow {
    color: #002347;
    top: 0
}

.stepp .step__img {
    align-items: flex-end;
    background: #45a7b8;
    background: linear-gradient(236.8deg,#174fc9 -156.35%,#24afc1 132.33%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    height: 152px;
    justify-content: center;
    overflow: hidden;
    position: relative
}

.stepp .step__img img {
    max-width: 240px;
    position: relative;
    top: 4px
}

.stepp .step__desc {
    color: #606a71;
    font-size: 18px;
    height: 120px;
    line-height: 28px;
    padding: 22px 0 0 10px
}

.stepp .step__desc .bold {
    color: #2d3941;
    transition: color .3s ease-in-out
}

.stepp .step__desc .icon-filter_up {
    display: inline-block;
    height: 14px;
    overflow: hidden;
    position: relative;
    right: -6px;
    top: 0;
    transform: rotate(90deg)
}

.stepp .step__desc .icon-filter_up:before {
    color: #2d3941;
    transition: color .3s ease-in-out
}

.intro .steps .stepp:hover {
    transform: scale(1.05);
    transition: transform .3s ease-in-out
}

@media(max-width: 1365px) and (min-width:768px) {
    .stepp {
        width:30%
    }

    .stepp .step__img {
        align-items: flex-end;
        display: flex;
        justify-content: flex-end;
        padding: 0
    }

    .stepp .step__img img {
        width: 80%
    }

    .stepp .step__desc {
        font-size: 16px;
        line-height: 26px
    }
}


@media(min-width:768px) {
    .stepp .step__img img {
        width: 50%
    }
}
@media(max-width: 950px) and (min-width:768px) {
    .stepp .hide-on-mobile {
        display:none
    }

    .stepp .bold {
        display: inline!important
    }
}

@media(max-width: 768px) {
    .stepp {
        height:96px;
        margin-bottom: 20px
    }

    .stepp.step--no-index .step__desc {
        color: #5d676e;
        font-size: 16px;
        height: 74px;
        justify-content: flex-start;
        padding: 0
    }

    .stepp.step--no-index .step__img {
        margin-right: 19px;
        padding: 0
    }

    .stepp .step__img {
        align-items: flex-end;
        border-radius: 6px;
        display: flex;
        float: left;
        height: 72px;
        justify-content: center;
        margin-right: 15px;
        padding: 0;
        width: 72px
    }

    .stepp .step__img:after {
        display: none
    }

    .stepp .step__img img {
        width: 100%
    }

    .stepp .step__desc {
        color: #5d676e;
        font-size: 16px;
        font-weight: 700;
        height: 96px;
        line-height: 24px;
        max-width: 302px;
        padding: 14px 0 0 24px
    }

    .stepp .step__desc>span:nth-child(2) {
        color: #5d676e;
        display: inline;
        font-size: 16px
    }

    .stepp .step__desc .icon-filter_up {
        font-size: 12px;
        top: 2px
    }
}

@media (max-width: 768px){
.hideit-on-desktop {
    display: block!important;
}
}

/* Path */

.paths {
    counter-reset: step-number;
    padding-bottom: 20px
}

.paths .inner {
    margin: 0 auto;
    width: 1166px
}

.paths h2 {
    color: #2d3941;
    font-size: 32px;
    line-height: 48px
}

@media(max-width: 1365px) and (min-width:768px) {
    .paths .inner {
        width:80%
    }

    .paths h2 {
        font-size: 28px;
        line-height: 43px
    }

    .paths .path {
        left: 20px
    }

    .paths .path.path--right {
        right: 20px
    }

    .paths .path:first-child .path__intro,.paths .path:nth-child(3) .path__intro {
        padding-right: 30px
    }

    .paths .path:nth-child(2) .path__intro {
        padding-left: 30px
    }

    .paths .path .path__img img {
        width: 100%
    }

    .paths .but {
        font-size: 14px;
        padding: 12.5px 20px
    }
}

@media(max-width: 768px) {
    .paths {
        padding-bottom:0
    }

    .paths .inner {
        padding: 0;
        width: 100%
    }

    .paths .path {
        margin: 0
    }

    .paths .path .bold {
        color: #5d676e;
        font-weight: 500
    }

    .paths .path:first-child p,.paths .path:nth-child(2) p,.paths .path:nth-child(3) p {
        margin: 0 auto 20px
    }

    .paths .path:first-child p {
        max-width: 318px
    }

    .paths .path:nth-child(2) p {
        max-width: 310px
    }

    .paths .path:nth-child(3) p {
        max-width: 318px
    }

    .paths .path.path--right .path__intro {
        margin: 0
    }
}

.path {
    align-items: center;
    counter-increment: step-number;
    display: flex;
    justify-content: flex-start;
    left: 60px;
    padding: 60px 0 60px 30px;
    position: relative;
    text-align: left
}

.path:after {
    border: 8px solid #eaeff4;
    content: "";
    height: 100%;
    left: -60px;
    position: absolute;
    top: 0;
    width: 70%;
    z-index: -1
}

.path.path--right {
    flex-direction: row-reverse;
    left: auto;
    padding: 60px 30px 60px 0;
    right: 60px
}

.path.path--right:after {
    left: auto;
    right: -60px
}

.path.path--right .path__intro {
    margin-left: 100px;
    margin-right: 0;
    position: relative;
    text-align: left
}

.path.path--right .path__intro:after {
    font-weight: 700;
    left: auto;
    right: -109px
}

.path:first-child p {
    max-width: 478px
}

.path:first-child:after {
    border-bottom-left-radius: 100px;
    border-right: none;
    border-top: none
}

.path:first-child:before {
    background: #fff;
    height: 100px;
    left: -60px;
    top: 0;
    width: 8px
}

.path:first-child .path__intro {
    width: 507px
}

.path:nth-child(2) p {
    max-width: 517px
}

.path:nth-child(2):after {
    border-bottom-right-radius: 100px;
    border-left: none;
    border-top-right-radius: 100px
}

.path:nth-child(2) .path__intro {
    width: 517px
}

.path:first-child:before,.path:nth-child(3):before {
    content: "";
    position: absolute
}

.path:nth-child(3) {
    padding: 50px 0 20px 30px
}

.path:nth-child(3):after {
    border-bottom-left-radius: 100px;
    border-right: none;
    border-top-left-radius: 100px;
    height: calc(100% - 8px);
    top: 8px
}

.path:nth-child(3):before {
    background: #eaeff4;
    bottom: -16px;
    height: 8px;
    right: 100px;
    width: 50%
}

.path:nth-child(3) .path__img {
    max-width: none
}

.path:nth-child(3) .path__img img {
    max-width: 589px
}

.path:nth-child(3) .path__intro {
    width: 345px
}

.path>div {
    max-width: 50%
}

.path .path__intro {
    color: #5d676e;
    margin-right: 100px;
    position: relative;
    text-align: left
}

.path .path__intro:after {
    align-items: center;
    background: #0b2441;
    border-radius: 100%;
    color: #fff;
    content: counter(step-number);
    display: flex;
    font-size: 36px;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    left: -111px;
    position: absolute;
    top: 12px;
    width: 48px
}

.path .path__intro h2 {
    color: #2d3941;
    margin-bottom: 14px;
    text-align: left
}

.path .path__intro .sub {
    color: #465159;
    line-height: 24px;
    margin-bottom: 36px;
    text-align: left
}

.path .path__intro .bold {
    color: #5d676e;
    font-weight: 500
}

.path .path__img img {
    max-width: 448px
}

.path .but {
    border: none!important
}

.path .ellipsis,.path .read-more-button {
    display: none
}

@media(max-width: 1260px) {
    .path .path__intro img {
        height:auto
    }
}

@media(max-width: 768px) {
    .path {
        position:static
    }

    .path,.path.path--right {
        padding: 0
    }

    .path.path--right .path__intro {
        text-align: center
    }

    .path:after,.path:before {
        display: none
    }

    .path:first-child .path__intro,.path:nth-child(3) .path__intro {
        background: #edf5e4
    }

    .path:nth-child(3) {
        padding: 0
    }

    .path>div {
        max-width: none;
        width: 100%!important
    }

    .path .path__img {
        display: none
    }

    .path .ellipsis,.path .read-more-button {
        display: inline
    }

    .path .path__intro {
        margin: 0;
        padding: 24px 10px;
        text-align: center
    }

    .path .path__intro img {
        display: block!important;
        height: auto;
        margin: 0 auto 20px;
        max-width: 300px
    }

    .path .path__intro h2 {
        font-size: 20px;
        line-height: 28px;
        text-align: center
    }

    .path .path__intro h2 br {
        display: inline
    }

    .path .path__intro .sub {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 20px;
        text-align: center
    }

    .path .path__intro:after {
        display: none
    }

    .path .but {
        font-size: 14px;
        padding: 12px 28px
    }
}